.container {
  margin-top: 2rem;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0;
    text-align: center;
    margin-right: 2rem;
    @media screen and (max-width: 48rem) {
      padding: initial;
      margin-right: initial;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--secondary-color);
      border-radius: 0.5rem;
      margin-bottom: 2rem;
      cursor: pointer;
      padding: 1rem;

      h3,
      h4,
      p {
        width: 10rem;
      }

      &:hover {
        border: 1px solid #fff;
      }

      @media screen and (max-width: 48rem) {
        flex-direction: column;
      }
    }
  }
}
