.section {
  background: var(--tertiary-color);
  padding: 2rem;

  .details {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 0.5rem;
    &:nth-child(1) {
      padding-bottom: 0;
    }

    h4 {
      font-size: 0.8rem;
      color: var(--small-text-color);
      margin: 0 0 0.5rem;
    }
    p {
      font-family: "Poppins Medium";
      margin: 0 0;
      color: #fff;
      font-size: 1rem;
    }

    aside,
    article {
      width: 10rem;
    }

    &__aside {
      div {
        margin-bottom: 1.5rem;
      }
    }
  }
  .total {
    background: var(--primary-color);
  }
}
