.section {
  .button {
    margin-top: 2rem;
    color: #fff;
    background: none;
    border: none;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 1rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    background: var(--secondary-color);
    padding: 2rem;
    margin-top: 2rem;
    &__status {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        text-align: center;
        &:nth-child(1) {
          margin-right: 1rem;
        }
      }
    }
    &__buttons {
      display: flex;
      gap: 5%;

      &--edit {
        background: var(--edit-btn-bg);
      }
      &--delete {
        background: var(--delete-btn-bg);
      }
      &--paid {
        width: 8.125rem;
        padding: 0.625rem 0.3125rem;
        background: var(--primary-color);
        @media screen and (max-width: 48rem) {
          width: 100%;
        }
      }
      @media screen and (max-width: 48rem) {
        flex-direction: column;
        margin-top: 1.5rem;
        width: 100%;
      }
      button {
        @media screen and (max-width: 48rem) {
          margin-top: 1rem;
        }
      }
    }
    @media screen and (max-width: 48rem) {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
  }
}
