// Google Fonts: Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

// Buttons
@import "buttons";

/* CSS Variables */
:root {
  --primary-color: #7c5dfa;
  --secondary-color: #1e2139;
  --body-bg: #141625;
  --paid-status-bg: #1f2c3f;
  --paid-status-color: #32cf9b;
  --pending-status-bg: rgba(255, 143, 0, 0.06);
  --pending-status-color: #ff8f00;
  --small-text-color: #888eb0;
  --draft-status-bg: #f1f1f1;
  --draft-status-color: #252945;
  --delete-btn-bg: #ec5757;
  --edit-btn-bg: #252945;
}

/* Global Styles */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--body-bg);

  main {
    padding-left: 17rem;
    @media screen and (max-width: 48rem) {
      padding: 0 2rem 2rem;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    font-size: 0.8rem;
  }

  a,
  p {
    color: var(--small-text-color);
  }
}
